* {
	margin: 0;
	padding: 0
}
.content {
	width: 60%;
	height:100vh;
	display: grid;
	margin: 0 auto;
	background: #E5E5E5;
	font-size: 18px;
}

.App {
	margin: 90px auto;
	width: 70%;
}
.liTask {
	list-style-type: none
}
.taskCheckbox {
	display: none;
}
.taskContainer {
	display: grid;
	position: relative;
}

.description {
	background: white;
	padding: 2px;
	margin-bottom: 5px
}

.description::before {
	content: '';
	width: 20px;
	height: 20px;	
	background: white;
	display: inline-block;
	margin-right: 10px;
	margin-left: -30px;
	margin-bottom: 5px;
	border-radius: 50%;
	border: 1px solid #009688;
	vertical-align: middle;
	transition: .2s;
}

.taskCheckbox:checked + .description::before {
	background: #009688;
}
.description:hover {
	cursor: pointer;
}
.taskCheckbox:checked + .description {
	text-decoration: line-through;
	text-decoration-color: #009688;
}

.deleteButton {
	color:#009688;
	position: absolute;
	right: -30px;	
}

.deleteButton:hover {
	cursor: pointer;
}

.sticky i{
	font-size: 70px;
	color: #009688;
}


.sticky {
	position: sticky;
	bottom: 0;
	margin-left: 740px;
	margin-top: 200px;
}

.sticky i:hover{
	font-size: 72px;
	color: #107c71;
	cursor: pointer;
}