* {
	margin: 0;
	padding: 0
}

.spinner {
	margin-top: 20%
}

.container {
	font-family: 'Roboto', sans-serif;
	width: 60%;
	height:100vh;
	margin: 0 auto;
	background: #E5E5E5;
	display: flex;
	justify-content: center;
}

.tasksWrap {
	width: 70%;
	margin-top: 100px;
}

.task { 
	display: grid;
	grid-template-columns: 100% 1fr;
}

.taskCheckbox {
	display: none;	
}

.description {
	background: white;
	padding: 2px;
	margin-bottom: 5px
}

.description::before {
	content: '';
	width: 20px;
	height: 20px;	
	background: white;
	display: inline-block;
	margin-right: 10px;
	margin-left: -30px;
	margin-bottom: 5px;
	border-radius: 50%;
	border: 1px solid #009688;
	vertical-align: middle;
	transition: .2s;
}

.taskCheckbox:checked + .description::before {
	background: #009688;
}
.description:hover {
	cursor: pointer;
}
.taskCheckbox:checked + .description {
	text-decoration: line-through;
	text-decoration-color: #009688;
}

.deleteButton {
	color:#009688;
}

.deleteButton:hover {
	cursor: pointer;
}


.buttonWrap {
	position: fixed;
	bottom: 2%;
	right: 21%;
}

.buttonWrap i {
	color: #009688;
	font-size: 70px
}

.buttonWrap i:hover {
	cursor: pointer;
	color: #01c2c2;
}


.createBar {
	width: 250px;
	height: 100px;
}